.productgrid {
    display: flex;
}

.productgrid,
.product > * {
    margin: 0.5rem !important;
}

@media (min-width: 576px) {
    .product {
        width: calc(576px - 2rem);
    }
    .productgrid {
        flex-wrap: wrap;
    }
}

@media (max-width: 575px) {
    .productgrid {
        flex-direction: column;
    }
}
