#formgrid {
    --ion-grid-column-padding: 0;
    --ion-grid-padding: 0;
}

ion-input {
    --padding-left: 0;
    --padding-top: 0;
    --padding-bottom: 0;
}

ion-item {
    --padding-start: 0.5em;
}

.fotopicker {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

#fotopickerlabel {
    cursor: pointer;
}

#fotocontainer {
    position: relative;
    background-color: lightgrey;
}

#fotooverlay {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

#fototext {
    position: absolute;
    color: white;
    font-size: 150%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    text-shadow: 1px 1px 5px black;
    text-align: center;
}

#fotopickerlabel:hover > * {
    opacity: 1;
}
